.category{
    border: 2px solid #C8DBE1;
    max-width: 365px;
    max-height: 500px;
    width: 300px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-bottom: 30px;
}
.category h2{
    font-weight: bold;
    margin-top: 15px;
}
.category a{
    width: 150px;
    height: 40px;
    line-height: 40px;
    border: 1px solid black;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
    margin-top: 15px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.category a:hover{
    background-color: black;
    color: white;
}